@model foodfun.Models.ConfirmationViewModel

@{
    ViewBag.Title = "OrderInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!--================ confirmation part start =================-->
    <section class="confirmation_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="order_details_iner">
                        <h3>Order Details</h3>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Cart)
                                {
                                    <tr>
                                        <th>
                                            <span>@Shop.GetProductName(item.product_no)</span>
                                        </th>
                                        <th>
                                            <span>@item.Property_select</span>
                                        </th>

                                        <th>@item.qty</th>
                                        <th> <span>$@item.each_item_amount</span></th>
                                    </tr>


                                }

                                <tr>
                                    <th colspan="3">Subtotal</th>
                                    <th> <span>$ @Cart.Totals.ToString("#,##0")</span></th>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="col" colspan="3" class="text-right">Total</th>
                                    <th scope="col">$ @Cart.Totals.ToString("#,##0")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>取餐人資訊 </h4>
                        <ul>
                            <li>
                                
                                <p>@Html.LabelFor(model => model.Order.receive_name)</p>
                                <span>@Html.EditorFor(model => model.Order.receive_name )</span>
                            </li>
                            <li>
                                <p>@Html.LabelFor(model => model.Order.receive_phone)</p>
                                <span>@Html.EditorFor(model => model.Order.receive_phone)</span>
                            </li>
                            <li>
                                <p>@Html.LabelFor(model => model.Order.receive_address)</p>
                                <span>@Html.EditorFor(model => model.Order.receive_address)</span>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4> 取餐方式 </h4>
                        <ul>
                            <li>
                                <p>Street</p><span>: 56/8</span>
                            </li>
                            <li>
                                <p>city</p><span>: Los Angeles</span>
                            </li>
                            <li>
                                <p>country</p><span>: United States</span>
                            </li>
                            <li>
                                <p>postcode</p><span>: 36952</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>shipping Address</h4>
                        <ul>
                            <li>
                                <p>Street</p><span>: 56/8</span>
                            </li>
                            <li>
                                <p>city</p><span>: Los Angeles</span>
                            </li>
                            <li>
                                <p>country</p><span>: United States</span>
                            </li>
                            <li>
                                <p>postcode</p><span>: 36952</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--================ confirmation part end =================-->
</main>