@model foodfun.Models.MealServiceViewModel

@{
    ViewBag.Title = "選擇用餐方式";
    Layout = "~/Views/Shared/_LayoutLight.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.mealservice_no, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.mealservice_no, new SelectList(Model.mealServiceList, "mealservice_no", "mealservice_name", Model.mealservice_no), "請選擇", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Table_no, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" id="table" style="display:none">
            @Html.LabelFor(model => model.Table_no, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Table_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Table_no, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group " id="ordertime" style="display:none">
            @Html.LabelFor(model => model.SchedulOrderTime, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SchedulOrderTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SchedulOrderTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="addr" style="display:none">
            @Html.LabelFor(model => model.receive_address, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.receive_address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.receive_address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Product/CategoryList/HOT" class="btn btn-primary">
                    繼續購物
                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="前往結帳" class="btn btn-danger " />
            </div>
        </div>
    </div>
}


<script>
    $('#mealservice_no').change(function () {
        console.log('aa')
        var mealno = $('#mealservice_no :selected').val()
        console.log(mealno)
        if (mealno == "A") {
            $('#table').show()
            $('#ordertime').show()
            $('#ordertime label').text("取餐時間")
            $('#addr').hide()
        }
        if (mealno == "B") {
            $('#table').hide();
            $('#ordertime').show()
            $('#ordertime label').text("取餐時間")
            $('#addr').hide()
        }
        if (mealno == "C") {
            $('#table').hide();
            $('#ordertime').show()
            $('#ordertime label').text("希望送達時間")
            $('#addr').show()

        }

    })


</script>

